@font-face {
    font-family: 'BaskervilleBold';
    src: url('../fonts/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('../fonts/librebaskerville-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BaskervilleItalic';
    src: url('../fonts/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('../fonts/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville'; /* regular */
    src: url('../fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('../fonts/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}